ul {
    position: absolute;
    display: none;
}
li {
    display: block;
    background-color: white;
}
li:hover {
    background-color: black;
    color: white;
}
input#genre-submit {
    display: none;
}
canvas {
    border: 1px dashed black;
}
